* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #055160;
}
body {
  font-family: 'Inter', sans-serif;
    min-height: 100svh;
}
.nav-icon{
    font-size: 2rem;
}
#dashboard {
  margin-top: 5px ;
}
.sub-bar {
  background-color: #f8f9fa; 
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  padding-top: 48px; 
}
#textAdmin {
  vertical-align: middle;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-top: 4px;    
}
.nav-link span {
  position: relative;
  top: 2px;
}
